

.bogimg {
    width:75%;
}

.text-container{
    margin-top:500px;
}

.text-container > h2{
    font-size:15px;
    font-weight:bold;
}

.pris{
    font-weight:bold;
    font-size:15px;
    margin-top:5px;
}
.fordel{
    color:#c51924;
}

.excla{
    filter: invert(13%) sepia(85%) saturate(3987%) hue-rotate(347deg) brightness(101%) contrast(94%);
}

.image-container {
    position: absolute;
    width: 180px;
}


.slider-container{
    position: relative;
    overflow-x: hidden;
    height: 500px;
}
.slider-width{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #f2f2f2;
    margin: 0 10px;
    text-align: center;
}

.stars {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.star {
  font-size: 25px;
}


.star-rating {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Move the previous button to the left */
.prev {
    background: #222;
    cursor: pointer;
    position: absolute; /* Change position to absolute */
    border-radius: 20px;
    height: 40px;
    left: 10px; /* Adjust the left position as needed */
    top: 55%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
}

/* Move the next button to the right */
.next {
    background: #222;
    cursor: pointer;
    position: absolute; /* Change position to absolute */
    border-radius: 20px;
    height: 40px;
    right: 10px; /* Adjust the right position as needed */
    top: 55%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
}


 .pre {
    filter: invert(99%) sepia(6%) saturate(23%) hue-rotate(75deg) brightness(103%) contrast(100%);
 }
.nex {
    filter: invert(99%) sepia(6%) saturate(23%) hue-rotate(75deg) brightness(103%) contrast(100%);
}

#btn:nth-child(2){
   margin-left: -74px;
}


/* The Modal (background) */
.popUpclass {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .popup-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Add Animation */
  .popup-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    width:100%;
    height:100%;
    opacity:0;
  }
  
  .close:hover,
  .close:focus {

  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .popup-content {
      width: 100%;
    }
  }

  /* Ønskeliste */
  #taskInput {
    border-radius: 5px;
    height:30px;
  }

.wishBtn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  height: 32px;
  padding: 0 24px;
  border-radius: 6px;
  font-family: Lato,sans-serif;
  max-width: 100%;
  border: 2px solid transparent;
  gap: 8px;
  border-color: #c51924;
  color: #c51924;
  background-color: #fff;
  display:flex;
  margin-top:5px;
}

.wishDelete {
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
  height: 18px;;
  padding: 0 24px;
  border-radius: 6px;
  font-family: Lato,sans-serif;
  max-width: 100%;
  border: 2px solid transparent;
  gap: 8px;
  border-color: #c51924;
  color: #c51924;
  background-color: #fff;
  display:flex;
  margin-top:5px;
}

.timer {
  margin-top: 10px;
}

/* Lina */

.bestSell {
  display:flex;
  justify-content: center;
  align-items: center;
}
.bestheadline {
  font-weight:bold;
  font-size: 24px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 42%;
}
/* Add CSS for the image container */
#imageContainer {
  display: flex;
  float:left;
  max-width: 250px; /* Set the max width to control the width of the displayed image */
  margin: 0 auto;
  overflow-y: scroll; /* Enable vertical scrolling */
  max-height: 580px; /* Set a maximum height for the container */
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#imageContainer::-webkit-scrollbar{
  display: none;
}

/* Style for individual images */
.image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd; /* Add a separator line between images */
}

